.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 13rem;
    padding: 0 80px;
    color: #170b01;
    background-color: #f5f6fa;
    
}

.product__descripction {
    font-size: 1.3rem;
    text-align: center;
    width: 45%;
    margin-top: 20;
    margin-bottom: 0;
}

.product__list {
    width: 100%;
    display: grid;
    justify-items: center;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

@media screen and (max-width: 810px) {
    .product {
        margin-top: 4rem;
        padding: 0 20px
    }

    .product__descripction {
        width: 100%;
    }

}