
.staff {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    background-color: #03b044;
    color: white;
}

.staff__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 80px; 
    padding-right: 16rem; 
    padding-bottom: 3rem;
    

}

.staff__actions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    margin-top: 20px;
}

.staff__picture {
    background-image: url('/assets/patron.png');
}

.staff__image {
    width: 88%;
    height: 100%;
}


@media screen and (max-width: 810px) {
   
    .staff__content {
        padding: 20px;
    }

    .staff__image {
        width: 100%;
        height: auto;
    }

}